<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd" >
	<bean id="engine" class="com.klu.Engine"></bean>
	<bean id="car" class="com.klu.Car">
		<constructor-arg ref="engine"></constructor-arg>
	</bean>
	<bean id="bike" class="com.klu.Bike">
		<property name="engine" ref="engine"></property>
	</bean>
</beans>